@import url("base.css");

.zoneGraphique {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--primary);
    position: relative;
    margin-top: 3em;
}

.graphiquePersonnes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:1.3em;
}
.graphiqueLieuVie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
h1 {
    text-align: center;
    font-size: 2em;
    color: var(--secondary);
    margin-bottom: 1em;
    margin-top: 1em;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
    color: var(--secondary);
    margin-bottom: 1em;
    margin-top: 1em;
}
.graphique {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.graphiqueTitre {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
}
.boutonDeconnexion {
    position: absolute;
    top: 5em;
    left: 1em;
    display: block;
    margin-top: -10em;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid transparent;
    cursor: pointer;
    margin-bottom: 1em;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    &:hover {
        background-color: white;
        border-style: solid;
        border-color: red;
        color: red;
    }

}
#messages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}
.messages {
    display: flex;
    justify-content: center;
    color : var(--secondary);
    align-items: center;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    margin-top: 2em;
    font-size: 1em;
}
.message-item {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}



@media (max-width: 800px) {
    .zoneGraphique {
        margin-top: 5em;
    }

    h1 {
        font-size: 1.5em;
        margin-top: 2em;
    }

    .graphiquePersonnes, .graphiqueLieuVie {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .boutonDeconnexion {
        align-items: center;
        position: absolute;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .zoneGraphique {

    }
}

