/* base importation */
@import url("base.css");

/* phrase d'accroche et ecran principale */
#landing-page {
  position: relative;
  width: 60%;
  height: 59vh; /* 100vh - 11vh (menu) - 30vh (15+15 du padding de la landing-page) */
  padding: 15vh 0;
  margin: auto;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5em;

  .sentence {
    position: absolute;
    z-index: 1;
    height: 32.5%;
    width: 100%;
    text-align: center;
    border-radius: 1.2em;
    line-height: 1.5em;
    background-color: var(--secondary);

    grid-column: 2 / 4;
    grid-row: 1;

    h1 {
      margin: 1em;
      margin-top: 12.5%;
      font-family: "Nunito Sans", "monospace";
      font-weight: 500;
      font-size: 1.3em;
      justify-content: center;
    }
    span {
      font-family: "Kanit", "sans-serif";
      font-weight: 700;
      font-size: 1.4em;
      color: var(--extra);
    }
  }
  .arrow {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 60vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    align-items: center;
    justify-content: center;

    p {
      text-wrap: nowrap;
      font-family: "Kanit", "sans-serif";
      font-weight: 300;
      font-size: 1.5em;
      color: var(--black);
    }

    #arrow-top {
      display: block;
      width: 3em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(90deg);
    }
    #arrow-bottom {
      margin-top: 1em;
      display: block;
      width: 4em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(90deg);
    }
    #arrow-right {
      display: block;
      width: 0.6em;
      margin: 1.95em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(-45deg) translateX(45%);
    }
    #arrow-left {
      display: block;
      width: 0.6em;
      margin: -2.02em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(45deg) translateX(-45%);
    }
  }
}

/* Bento */
#bento {
  padding-top: 5em;
  width: inherit;
  height: 100vh;
  background-color: var(--white);

  #bento-wrapper {
    position: relative;
    display: grid;
    width: 60%;
    height: 80%;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5em;

    .bento {
      background-color: var(--secondary);
      border-radius: 1em;
      height: 100%;
      overflow: hidden;

      div {
        height: 100%;
        margin: 0em 0em 0em 1em;
        margin-top: 1em;

        p {
          line-height: 2em;
          font-size: 0.9em;

          span {
            font-weight: 500;
            font-family: "Kanit", "sans-serif";
            color: var(--extra);
          }
        }
      }

      .contact-button-bento {
        padding: 0;
        margin: 0.8em auto auto auto;
        width: fit-content;

        li {
          display: flex;
          height: 1.4em;
          padding: 0.1em 1em 0.1em 0.3em;
          background-color: var(--white);
          border-radius: 10em;
          text-align: center;
          align-items: center;
          border: 2px solid var(--primary);
          margin-right: 1em;
  
          a {
            display: flex;
            align-items: center;
            text-align: center;
          }
  
          img {
            width: 1.2em;
            height: 1.2em;
            margin: 0 0.5em 0 0;
            transition: transform 200ms ease-in-out;
          }
  
          p {
            color: var(--secondary);
            font-size: 500;
            transition: all 200ms ease-in-out;
          }
  
          &:hover {
            p {
              color: var(--primary);
            }
            background-color: var(--secondary);
            border-color: var(--primary);
            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }

    /* faut faire la pluie de coeur */
    .b1 {
      grid-column: 1;
      grid-row: 1 / 3;
      display: flex;
      
      a {
        width: 100%;
        height: 100%;

        div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 12% 0 0 0;
          text-align: center;
          font-family: 'Kanit', 'sans-serif';
  
          p {
            font-size: 3em;
            margin: 0;
            transition: all 0.11s ease-in-out;
            white-space: nowrap;
          }
    
          strokeText {
            color: #ffffff00;
            -webkit-text-stroke: 1px #ffffff00;
            line-height: 1em;
            transition: all 0.2s ease-in-out;
  
            &.st1 {
              font-size: 2.55em;
              transform: translateY(250%);
            }
            &.st2 {
              font-size: 2.75em;
              transform: translateY(150%);
            }
            &.st3 {
              font-size: 2.75em;
              transform: translateY(-150%);
            }
            &.st4 {
              font-size: 2.55em;
              transform: translateY(-250%);
            }
          }
        }
        div:hover {
          strokeText {
  
            &.st1 {
              transform: translateY(110%);
              -webkit-text-stroke: 1px var(--white);
            }
            &.st2 {
              transform: translateY(80%);
              -webkit-text-stroke: 1px var(--white);
            }
            &.st3 {
              transform: translateY(-80%);
              -webkit-text-stroke: 1px var(--white);
            }
            &.st4 {
              transform: translateY(-110%);
              -webkit-text-stroke: 1px var(--white);
            }
          }
          strokeText:hover {
            cursor: pointer;
            color: var(--extra);
            -webkit-text-stroke: 1px var(--extra);
          }
          p:hover {
            cursor: pointer;
            color: var(--extra);
          }
        }
      }      
    }
    .b2 {
      z-index: 2;
      grid-column: 4;
      grid-row: 1;
    }

    .b3 {
      grid-column: 2 / 5;
      grid-row: 2;

      p {
        width: 80%;
        height: 100%;
        font-size: 1.2em;
        margin: 0 0 0 20%;
        text-decoration: none;
        text-align: end;
        justify-content: end;
        align-content: center;

        span {
          color: var(--extra);
          margin: 0 3vh 0 0.5vh;
        }
      }

      p:hover {
        text-decoration: underline; /* TODO : Remplacer underline avec after pour avoir une transition*/
        cursor: pointer;
      }

      div {
        position: absolute;
        height: fit-content;
        margin: 0;
        top: 40%;
        left: 30%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* Translation du au plugin scrollTrigger et du conflit avec les elements en pos absolute */
        transform: translate(-130%, -25%);
        
        img {
          width: 7.8vh;
          transition: all 0.5s ease-in-out;
        }
        img:nth-child(even) {
          filter: brightness(0) saturate(100%) invert(76%) sepia(56%) saturate(814%) hue-rotate(23deg) brightness(100%) contrast(101%);
        }
        img:nth-child(odd) {
          filter: brightness(0) saturate(100%) invert(100%) sepia(92%) saturate(57%) hue-rotate(209deg) brightness(114%) contrast(88%);
        }
        img:nth-child(1) {
          grid-column: 1;
          grid-row: 1;
          transform: rotate(110deg) translate(-25%, 25%);
        }
        img:nth-child(2) {
          grid-column: 2;
          grid-row: 1;
          transform: rotate(175deg) translate(-30%, 12%);
        }
        img:nth-child(3) {
          grid-column: 2;
          grid-row: 2;
          transform: rotate(285deg) translate(45%, 55%);
        }
        img:nth-child(4) {
          grid-column: 1;
          grid-row: 2;
          transform: rotate(-15deg) translateY(-20%);
        }
      }
    }
    .b3:hover {

      div {
        img:nth-child(1) {
          transform: rotate(90deg) translate(-15%, -11%);
        }
        img:nth-child(2) {
          transform: rotate(180deg) translate(0%, 1%);
        }
        img:nth-child(3) {
          transform: rotate(270deg) translate(44%, -11%);
        }
        img:nth-child(4) {
          transform: rotate(0deg) translateY(-45%);
        }
      }
    }

    .b4 {
      grid-column: 1 / 3;
      grid-row: 3;

      p {
        font-size: 1.2em;
        text-align: center;
        transition: all 150ms ease-in-out;
      }
      img {
        width: 30%;
        margin-left: 50%;
        padding-bottom: 1em;
        transform: translate(-50%, 0);
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
      }
    }
    .b4:hover {
      p {
        color: var(--extra);
      }
      img {
        transition: all 250ms ease-in-out;
        filter: invert(89%) sepia(29%) saturate(6401%) hue-rotate(27deg) brightness(106%) contrast(103%);
      }
    }

    .b5 {
      grid-column: 3 / 5;
      grid-row: 3;
      font-family: "Kanit", "sans-serif";

      .link {
        a {
          color: var(--white);
          text-decoration: underline;
          font-size: 0.8em;
          text-decoration: list-item;
          text-align: left;
          &:hover {
            color: var(--extra);
          }
        }
      }
    }
    .b2 {
      & .design-elmt {
        position: absolute;
      }
      & img:first-of-type {
        /* Translation du au plugin scrollTrigger et du conflit avec les pos absolute*/
        transform: translate(-200%, 100%) scale(350%);
        height: auto;
        width: 20%;
        top: 2.2em;
        right: 0;
      }
      & img:last-of-type {
        /* Translation du au plugin scrollTrigger et du conflit avec les pos absolute*/
        transform: translate(-200%, 100%) scale(350%);
        height: 10%;
        width: 10%;
        top: 3.5em;
        right: 0.6em;
      }
    }
  }
}

/* Plan du site + mentions legales */
footer {
  position: absolute;
  bottom: -130vh;
  left: 0;
  max-height: 0%;
  overflow-y: hidden;
  transition: all 500ms ease;

  .footer-wrapper {
    display: flex;
    width: inherit;
    height: auto;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary);
    color: var(--black);
    font-family: "Kanit", "sans-serif";
    font-weight: 300;
    font-size: 0.4em;
    transition: all 300ms ease;

    .footer-mentions {
      align-items: center;
      display: flex;
      width: 50%;

      .logo {
        margin: auto 2em;
        img {
          width: 5em;
          height: 5em;
        }
      }

      .text {
        width: 80%;
        margin: auto 2em;
      }

      &::after {
        content: "";
        display: block;
        height: 10em;
        width: 0.11em;
        border-right: solid 0.11em var(--black);
      }
    }
  }
  &.show {
    bottom: -122vh;
    max-height: fit-content;
  }
}

/* Button qui controle le panel de mentions legale  */
.mentions-button {
  position: relative;
  height: 5vh;
  width: 100%;
  margin-top: 3vh;

  #show-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: fit-content;
    margin: 0 auto;

    background-color: var(--secondary);
    font-family: "Kanit", "sans-serif";
    font-weight: 300;
    font-size: 0.5em;
    cursor: pointer;
    border-style: none;
    border-radius: 1em 1em 0 0;
    color: var(--white);

    transition: all 400ms ease-in-out;

    &:hover {
      height: 100%;
    }
    &.show {
      bottom: 420%;
    }
  }
}

/* Tablet adaptation */
@media screen and (max-width: 1024px) {
  #landing-page {
    width: 90%;
  }

  #bento {
    #bento-wrapper {
      width: 90%;

      .b3 {

        p {
          width: 60%;
          margin: 0 10% 0 30%;
        }
      }
    }
  }
}


/* Mobile adaptation */
@media screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }
  #landing-page {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;

    .sentence {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      text-align: center;
      border-radius: 1.2em;
      line-height: 1.3em;
      background-color: var(--secondary);
      
      grid-column: 1;
      grid-row: 1;
      max-height: 18%;

      h1 {
        margin-top: 0.9em;
        font-size: 1.1em;
      }
      span {
        font-size: 1.2em;
      }
    }
    .arrow {
      padding-top: 50vh;
    }
  }
  

  #bento {
    #bento-wrapper {
      width: 95%;
      height: 100%;
      margin: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 1em;

      .b1 {
        grid-column: 1;
        grid-row: 2;
        strokeText {
          display: none;
        }
        p {
          font-size: 0.5em;
          margin: 0;
          text-align: center;
        }
      }
      .b2 {
        grid-column: 1;
        grid-row: 3;

        p {
          font-size: 1.5em;
          margin: 0;
          text-align: center;
        }

        .design-elmt {
          display: none;
        }
      }
      .b3 {
        grid-column: 1;
        grid-row: 4;

        p {
          width: 100%;
          margin: 0;
          text-align: center;
        }
        p:active {
          text-decoration: underline;
        }
        img {
          display: none;
        }
      }
      .b4 {
        grid-column: 1;
        grid-row: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .b5 {
        grid-column: 1;
        grid-row: 6;
      }
    }
  }
}
