@import url("css/base.css");

.contact {
  margin: 30px;
  padding: 20px;
  background-color: #f0f0f0;
}

.contact h1 {
  color: black;
  font-size: 2.5em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.contact p {
  color: black;
  font-size: 1em;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
}

.info map {
  width: 100%;
  height: 300px;
}
.info .adresse {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: black;
}
.info .adresse i {
  font-size: 3em;
  margin-bottom: 10px;
}

.info .mail {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-right: 80px;
}
.info .mail i {
  font-size: 3em;
  margin-bottom: 10px;
}
.info .mail a {
  color: black;
}
.info .mail a:hover {
  text-decoration: underline;
}

.boutonContacter {
  justify-content: center;
  margin-top: 90px;
  display: flex;
}
.boutonContacter .bouton {
  background-color: var(--secondary);
  display: flex;
  border: none;
  border-radius: 5px;
  font-size: 1.4em;
  color: white;
  justify-content: center;
  padding: 10px 20px;
}
.boutonContacter .bouton:hover {
  background-color: #0069d9;
}
.arriere-plan {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.contact-dynamique {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.contact-dynamique h2 {
  color: black;
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-dynamique form {
  display: flex;
  flex-direction: column;
}

.contact-dynamique label {
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.contact-dynamique input,
.contact-dynamique textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 0.1px solid;
  border-radius: 5px;
  font-size: 1em;
}

.contact-dynamique input[type="submit"] {
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.contact-dynamique input[type="submit"]:hover {
  background-color: #0069d9;
}
