/* base importation */
@import url('css/base.css');

/* Main Menu */
header {
  height: 8vh;

  nav {
    display: flex;
    background-color: var(--secondary);
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;
      padding: 0 2em 0 0;

      li {
        margin: 0 1em;
        color: var(--primary);
        font-weight: 400;
        transition: 0.3s;

        &::after {
          display: block;
          content: '';
          border-bottom: solid 0.15em var(--white);
          border-radius: 10em;
          transform: scaleX(0);
          transform-origin: 0% 50%;
          transition: transform 250ms ease-in-out;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
