/* base importation */
@import url('css/base.css');


/* phrase d'accroche et ecran principale */
#landing-page {
  width: inherit;
  height: 59vh; /* 100vh - 11vh (menu) - 30vh (15+15 du padding de la landing-page) */
  padding: 15vh 0;


  .sentence {
    width: 25%;
    text-align: center;
    justify-content: center;
    background-color: var(--secondary);
    padding: 2em;
    margin: auto;
    border-radius: 1.2em;

    h1 {
      font-family: 'Nunito Sans','monospace';
      font-weight: 500;
      font-size: 1.3em;
      justify-content: center;
    }
    span {
      font-family: 'Kanit','sans-serif';
      font-weight: 700;
      font-size: 1.4em;
      color: var(--extra);
    }
  }
  .arrow {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    margin: auto;
    align-items: center;
    
    p {
      font-family: 'Kanit','sans-serif';
      font-weight: 300;
      font-size: 1.5em;
      color: var(--black);
    }

    #arrow-top {
      display: block;
      width: 3em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(90deg);
    }
    #arrow-bottom {
      margin-top: 1em;
      display: block;
      width: 4em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(90deg);
    }
    #arrow-right {
      display: block;
      width: 0.6em;
      margin: 1.95em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(-45deg) translateX(45%);
    }
    #arrow-left {
      display: block;
      width: 0.6em;
      margin: -2.02em;
      border-bottom: solid 0.11em var(--black);
      transform: rotate(45deg) translateX(-45%);
    }
  }
}
